<header>
    <img 
    src="/public/assets/img/gabriel.jpg" 
    alt=" Gabriel Henrique - Foto de Perfil"
    width="130px"
    height="130px"
    loading="eager"
    />
    <h1>Gabriel Henrique</h1>
</header>

<aside>
    <div class="container">
        <p>Analista de Suporte | Analista de Sistemas | Desenvolvedor Front-End</p>
        <p>Cuiabá, Mato Grosso, Brasil</p>
        <p>Estou na área de desenvolvimento a pouco tempo, mas estou buscando
        uma oportunidade de mostrar tudo que venho estudando</p>

        <nav>
            <ul>
                <li>
                    <a 
                    href="/public/assets/pdf/cv.pdf" 
                    target="_blank" 
                    class="btn btn-primary">
                        Download CV
                    </a>
                </li>
                <li>
                    <a 
                    href="https://www.linkedin.com/in/henrick007/" 
                    target="_blank" 
                    class="btn btn-secondary">
                        LinkedIn
                    </a>
                </li>
            </ul>
        </nav>

        <section>
            <figure>
                <img 
                src="/public/assets/icons/whatsapp.svg" 
                alt="Icone para contato WhatsApp"
                width="22px"
                height="24px"
                />
                <figcaption>
                    <a
                    href="https://api.whatsapp.com/send?phone=5565993232797&text=Ol%C3%A1%20Gabriel,%20preciso%20de%20um%20job!"
                    target="_blank">
                        <strong>Envie uma mensagem para:</strong>
                        <p>WhatsApp: (65)9 9323-2797</p>
                    </a>
                </figcaption>
            </figure>
            
            <figure>
                <img 
                src="/public/assets/icons/mail.svg" 
                alt="Icone para contato por e-mail"
                width="22px"
                height="24px"
                />
                <figcaption>
                    <a
                    href="mailto:gabrielhenriqueferreiraalves07@gmail.com"
                    target="_blank">
                        <strong>Envie um e-mail para:</strong>
                        <p>gabrielhf257&#64;gmail.com</p>
                    </a>
                </figcaption>
            </figure>
        </section>
    </div>
</aside>